ClaimDi.WCF.Public/Web References/BKIService/BKI_KFK.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PolicyValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="car_license_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="car_license_province" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver_first_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver_last_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driver_mobile_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PolicyValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PolicyValidationResult" type="tns:KFKReqResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KFKReqResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="policy" type="tns:Policy" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Policy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="policy_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="policy_effective" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="policy_risk_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="car_license_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="car_license_province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_first_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_mobile_no" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="success" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitNotifyEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitNotifyEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitNotifyEventResult" type="tns:KFKNoticeeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="KFKNoticeeResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="notify" type="tns:Notify" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notify">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="notice_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notice_datetime" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PolicyValidationSoapIn">
    <wsdl:part name="parameters" element="tns:PolicyValidation" />
  </wsdl:message>
  <wsdl:message name="PolicyValidationSoapOut">
    <wsdl:part name="parameters" element="tns:PolicyValidationResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitNotifyEventSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitNotifyEvent" />
  </wsdl:message>
  <wsdl:message name="SubmitNotifyEventSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitNotifyEventResponse" />
  </wsdl:message>
  <wsdl:portType name="BKI_KFKSoap">
    <wsdl:operation name="PolicyValidation">
      <wsdl:input message="tns:PolicyValidationSoapIn" />
      <wsdl:output message="tns:PolicyValidationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNotifyEvent">
      <wsdl:input message="tns:SubmitNotifyEventSoapIn" />
      <wsdl:output message="tns:SubmitNotifyEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BKI_KFKSoap" type="tns:BKI_KFKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PolicyValidation">
      <soap:operation soapAction="http://tempuri.org/PolicyValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNotifyEvent">
      <soap:operation soapAction="http://tempuri.org/SubmitNotifyEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BKI_KFKSoap12" type="tns:BKI_KFKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PolicyValidation">
      <soap12:operation soapAction="http://tempuri.org/PolicyValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNotifyEvent">
      <soap12:operation soapAction="http://tempuri.org/SubmitNotifyEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BKI_KFK">
    <wsdl:port name="BKI_KFKSoap" binding="tns:BKI_KFKSoap">
      <soap:address location="http://www.bangkokinsurance.com/Claim_Thirdpartytest_ex/BKI_KFK.asmx" />
    </wsdl:port>
    <wsdl:port name="BKI_KFKSoap12" binding="tns:BKI_KFKSoap12">
      <soap12:address location="http://www.bangkokinsurance.com/Claim_Thirdpartytest_ex/BKI_KFK.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>